In [ ]:
# Import the pandas package, then use the "read_csv" function to read
# the labeled training data

In [1]:
import os

In [6]:
os.getcwd()+"data\\movie-reviews\\labeledTrainData.tsv"

'E:\\Position\\Development\\kaggle-workoutdata/movie-reviews/labeledTrainData.tsv'

In [2]:
import pandas as pd

In [8]:
train = pd.read_csv("data\\movie-reviews\\labeledTrainData.tsv", header=0, \
                    delimiter="\t", quoting=3)

In [10]:
train.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>sentiment</th>
      <th>review</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>"5814_8"</td>
      <td>1</td>
      <td>"With all this stuff going down at the moment ...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>"2381_9"</td>
      <td>1</td>
      <td>"\"The Classic War of the Worlds\" by Timothy ...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>"7759_3"</td>
      <td>0</td>
      <td>"The film starts with a manager (Nicholas Bell...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>"3630_4"</td>
      <td>0</td>
      <td>"It must be assumed that those who praised thi...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>"9495_8"</td>
      <td>1</td>
      <td>"Superbly trashy and wondrously unpretentious ...</td>
    </tr>
  </tbody>
</table>
</div>